@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
a,
button {
  transition: 0.3s ease-in-out;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body {
  padding-top: 8rem;
}
.nav {
  text-align: center;
  margin-bottom: 6.1rem;
  animation: slideInLeft 1s;
}
.section-hero {
  margin-bottom: 11rem;
  display: flex;
  gap: 8.8rem;
  justify-content: center;
  overflow: hidden;
  animation: slideInRight 1s;
}
.section-hero__imgbox--left {
  margin-left: -3.2rem;
}
.section-hero__imgbox--left {
  margin-right: -3.2rem;
}
.section-hero__tablet {
  display: none;
}
.section-hero__textbox {
  text-align: center;
}
.section-hero__title {
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 6.5rem;
  color: #28283d;
  margin-bottom: 3.4rem;
}
.section-hero__description {
  margin-bottom: 3.2rem;
}
.desc {
  color: #87879d;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.section-hero__cta-box {
  gap: 1.6rem;
  justify-content: center;
}
.section-hero__cta {
  border-radius: 29px;
  color: white;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.section-hero__cta--download {
  padding: 1.6rem 2.9rem;
  background: #4d96a9;
}
.section-hero__cta--download span {
  color: #8fe3f9;
}
.section-hero__cta--download:hover,
.section-hero__cta--download:focus {
  background: #71c0d4;
}
.section-hero__cta--what {
  padding: 1.6rem 4rem;
  background: #855fb1;
}
.section-hero__cta--what:hover,
.section-hero__cta--what:focus {
  background: #b188dd;
}
.section-gallery {
  padding: 0 3.9rem;
  margin-bottom: 8rem;
  animation: slideInLeft 1s;
}
.section-gallery__pics {
  max-width: 111rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
}

.section-gallery__pic img {
  border-radius: 8px;
}
.section-about {
  margin-bottom: 7.2rem;
  animation: slideInRight 1s;
}
.section-about__cont {
  margin: 0 auto;
  max-width: 54rem;
  text-align: center;
}
.section-about__sub-header {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #4d96a9;
  letter-spacing: 4px;
  margin-bottom: 1.6rem;
}
.section-about__secondary-header {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.4rem;
  color: #28283d;
  max-width: 44.5rem;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.footer {
  background-size: cover;
  background-position: center;
  /* background-color: #4d96a9;
  background-blend-mode: overlay; */
  /* box-shadow: inset 0 0 0 1000px rgba(77, 150, 169, 0.9); */
  background-image: linear-gradient(
      rgba(77, 150, 169, 0.9),
      rgba(77, 150, 169, 0.9)
    ),
    url("./assets/desktop/image-footer.jpg");
  height: 30.8rem;
  padding: 0 2.4rem;
  position: relative;
}
.footer__cont {
  color: #fafafa;
  width: 100%;
  max-width: 111rem;
}
.footer__title {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.4rem;
  max-width: 35rem;
}
.footer__final-thoughts {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  max-width: 35rem;
}
.footer__cta {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: white;
  background: #855fb1;
  border-radius: 29px;
  padding: 1.6rem 4rem;
}
.footer__cta span {
  color: #d9b8ff;
}
.footer__cta:hover,
.footer__cta:focus {
  background: #b188dd;
}

.breakpoint {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.breakpoint__linebreak {
  width: 1px;
  height: 84px;
  border: 1px solid rgba(135, 135, 157, 0.25);
}
.breakpoint__numberbox {
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  width: 56px;
  height: 56px;
  background: white;
}
.breakpoint__number {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #87879d;
}
.breakpoint__1 {
  margin-bottom: 6.4rem;
}
.breakpoint__2 {
  margin-bottom: -2.8rem;
  position: relative;
  z-index: 2;
}
@media all and (max-width: 1246px) {
  .section-hero {
    flex-direction: column;
    align-items: center;
  }
  .section-hero__textbox {
    max-width: 45.7rem;
  }
  .section-hero__imgbox--left,
  .section-hero__imgbox--right {
    display: none;
  }
  .section-hero__tablet {
    display: flex;
  }
}
@media all and (max-width: 943px) {
  .footer {
    height: 42.8rem;
  }
  .footer__cont {
    flex-direction: column;
    gap: 3.2rem;
    text-align: center;
  }
}
@media all and (max-width: 768px) {
  .section-hero {
    margin-bottom: 8rem;
  }
  .section-gallery__pics {
    column-gap: 1.1rem;
  }
  .section-about__cont {
    max-width: 57.3rem;
  }
  .footer {
    background-image: linear-gradient(
        rgba(77, 150, 169, 0.9),
        rgba(77, 150, 169, 0.9)
      ),
      url("./assets/tablet/image-footer.jpg");
  }
  .footer__final-thoughts {
    max-width: 57.3rem;
  }
}
@media all and (max-width: 600px) {
  body {
    padding-top: 4.8rem;
  }
  .section-gallery,
  .section-about {
    padding: 0 2.4rem;
  }

  .section-gallery__pics {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem 2.5rem;
  }
}
@media all and (max-width: 447px) {
  .section-hero__textbox {
    padding: 0 2.4rem;
  }
  .section-hero__title {
    font-size: 4rem;
    line-height: 4.4rem;
    margin-bottom: 2.4rem;
  }
  .desc {
    font-size: 1.6rem;
  }
  .section-hero__cta-box {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .section-hero__cta-box > * {
    padding: 1.6rem 2.9rem;
  }
  .section-about__secondary-header {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
}
@media all and (max-width: 375px) {
  .section-hero {
    margin-bottom: 6.4rem;
  }
  .footer {
    background-image: linear-gradient(
        rgba(77, 150, 169, 0.9),
        rgba(77, 150, 169, 0.9)
      ),
      url("./assets/mobile/image-footer.jpg");
  }
  .footer__cont {
    gap: 2.4rem;
  }
  .footer__title {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
}
@media all and (max-width: 374px) {
  .section-gallery__pics {
    grid-template-columns: repeat(1, 1fr);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
